body{
  font-family: "Montserrat-Bold" serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
}

p{
  color: #8f8f8f;
  padding: 0 20px;
}

/* Heading Section */

.big-heading{
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

.pricing-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: #fff;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}


/* Navbar Sections */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

.btn{
  margin: 5% 3% 5% 0;
}

.iphone{
  width: 60%;
  transform: rotate(25deg);
  margin-left: 15%;
}

/* Features-Section */

#features{
  padding: 7% 0;
}

.features-title{
  font-size: 1.5rem;
}

.features-box{
  padding: 5% 0;
}

.center{
  color: #ef8172;
  margin-bottom: 1rem;
}
.center:hover{
  color: #ff4c68;
}

/* Testimolials Section */

#testimonials{
  background-color: #ef8172;
}

.testimonials-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Sections */

#press{
  background-color: #ef8172;
  padding-bottom: 3%
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing{
  padding: 100px;;
  text-align: center;
}

.pricing-dof-title{
  font-size: 1.5rem;
}

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-button{
  width: 100%;
}

.pricing-column{
  padding: 3% 2%;
}


/* CTA Section */


/* Footer Section */

.footer-icon{
  padding: 0 10px 15px;
}

.footer-paragraph{
  font-family: "Montserrat-black",sans-serif;
  font-weight: bold;
}
